<head>
<title>Document</title>
</head>
<body>
    <form class="form">
      <h1>Login</h1>
      <div class="form-group">
        <input type="text" placeholder=" " id="name" required>
        <label for="name">Name</label>
        <div class="error">
          <i class="fas fa-exclamation-circle"></i>
          Error encountered!
        </div>
      </div>
      <div class="form-group">
        <input type="email" placeholder=" " id="email" required>
        <label for="email">Email</label>
        <div class="error">
          <i class="fas fa-exclamation-circle"></i>
        </div>
      </div>
      <div class="form-group">
        <input type="password" placeholder=" " id="password" required>
        <label for="password">Password</label>
        <div class="error">
          <i class="fas fa-exclamation-circle"></i>
        </div>
      </div>
      <div class="form-group">
        <input type="password" placeholder=" " id="confirm" required>
        <label for="confirm">Confirm</label>
        <div class="error">
          <i class="fas fa-exclamation-circle"></i>
        </div>
      </div>
      <input type="submit" value="Let Me In" (click)="login()">
      <div class="form-bottom">
        <a href="#">Forgot Password?</a>
      </div>
    </form>
