mat-sidenav.mat-drawer.mat-sidenav.ng-tns-c6-0.ng-trigger.ng-trigger-transform.mat-drawer-side.mat-sidenav-fixed.ng-star-inserted.mat-drawer-opened {
  background-color: rgb(191, 57, 209);
}
span.abc {
  padding-left: 20px;
}
.btn-group-vertical.btn-sidenav {
  width: 175px;
  font-size: large;
}
span.btn-btn {
  color: black;
}
.mat-toolbar.mat-primary {
  background: darkorchid;
  color: white;
}
mat-sidenav.mat-drawer.mat-sidenav.ng-tns-c6-0.ng-trigger.ng-trigger-transform.mat-drawer-side.mat-drawer-opened.mat-sidenav-fixed.ng-star-inserted {
  width: 188px;
}

